<div xmlns:f="http://www.w3.org/1999/html">
    <f:form method="post" action="refundOrders" name="refundOrders">
        <f:form.hidden id="programs_refund" property="program" value="{Sku}" />

        <f:if condition="{CountOrders}">
            <f:then>
        Alle {CountOrders} Käufe Rückerstatten?
        <f:form.submit value="Ok" />
            </f:then>
            <f:else>
                Keine Käufe zum Stornieren gefunden
            </f:else>
        </f:if>
        <f:link.action action="interface">Abbrechen</f:link.action>
    </f:form>
</div>